body {
    box-sizing: border-box;

    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#calculator-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: pink;
    width: 300px;
    border-radius: 20px;
    padding: 20px;
}

.calculator-screen {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: aliceblue ;
    height: 80px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    color: #b1c0c7;
    padding-right: 8px;
    padding-left: 8px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(243, 209, 215); 
    
    font-size: 40px;
    color:rgb(249, 252, 255);
    font-weight: 700;

    height: 68px;
    width: 68px;
    border-radius: 20px;
    border: 0;
}

#C {
    margin-left: auto;
}


