* {
    box-sizing: border-box;
}

body {
    background-color: #D1D8BE;
    font-family: 'Trebuchet MS', sans-serif;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #A7C1A8;
    border-radius: 16px;

    width: 350px;
    
    padding: 32px;
}

.container {
    display: flex;
    justify-content: center;
}

.screen {
    background-color: #eeefe0b9;
    border-radius: 16px;

    width: 100%;
    height: 120px;
}

.buttons {
    width: 100%;
}

.column {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-top: 8px;
}

.column > button {
    width: 64px;
    height: 64px;
}

.column > button,
.first-column > button {
    font-size: 32px;
    font-weight: bold;
    color: #31312ecc;

    border-radius: 16px;
    background-color: #cecfb8cc;
    border: none;
    outline: none;
    box-shadow: none;
}

.column > button:active,
.first-column > button:active {
  background: #cecfb867;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

.first-column {
    display: flex;
    gap: 8px;
    margin-top: 12px;
    
}

.first-column > button {
    height: 64px;
    flex: 1;
}